
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    background-image: url(../img/background001.png);
    background-size: cover;
    font-family: "Roboto Condensed", Arial, Sans-serif;
    font-size: 16px;
}

.todolist {
    width: 100%;
    max-width: 600px;
    animation: float 4s ease-in-out infinite;
    -webkit-box-shadow: inset -1px 3px 8px 25px whitesmoke,
                        0px 1px 30px 0px whitesmoke,
                        0px 1px 8px 2px whitesmoke; 
    box-shadow: inset -1px 3px 8px 25px whitesmoke,
                0px 1px 30px 0px whitesmoke,
                0px 1px 8px 2px whitesmoke;

    header {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 15px;
        background-color: #de3f53;
        color: #ffff;
        font-size: 1.3em;
    }

    .wrapper-list {

        ul.list{

            list-style: none;
            margin: 0;
            padding: 0;

            li {
                background-color: #262e4c;
                border-bottom: 1px solid #1c2340;
                color: #b1b2c9;
                display: flex;
                padding: 20px;
                position: relative;
                transition: background-color 300ms ease;


                &:hover {
                    background-color: #323b5c;
                }
    
                &:hover button.remove {
                    opacity: 1;
                }

                &.done {
                    .check {
                        position: relative;
                        background-color: #171d37;
        
                        &::after {
                            position: absolute;
                            top: 5.2px;
                            left: 5.2px;
                            display: block;
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: green;
                        }
                    }
        
                    .task {
                        text-decoration: line-through;
                    }
                }

                &.removed {
                    animation: collapseItem 300ms ease;
                }

                &.hidden {
                   display: none;
                }
        
                

            }

            .check {
                background-color: #404a6e;
                border-radius: 50%;
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 20px;
                cursor: pointer;
                transition: background-color 200ms ease;

                &:hover {
                    background-color: #171d37;
                }

            }

        }

        button.remove {

            position: absolute;
            top: 20px;
            right: 20px;
            border: none;
            outline: none;
            background-color: red;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            cursor: pointer;
            opacity: 0;
            transition: opacity 300ms ease;

            &::after {
                content: 'x';
                color: white;
                display: block;
                font-weight: 200;
            }
        }

        
    }

    footer {
        background-color: #171d37;

        input {
            background-color: #171d37;
            border: none;
            outline: none;
            width: 90%;
            padding: 20px;
            font-family: "Roboto Condensed", Arial, Sans-serif;
            font-size: 1.2em;
            color: white;
        }

    }

    @keyframes collapseItem {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(-90deg)
        }
    }

    @keyframes float{
        0%,100%{
            
            transform:translatey(0)
        }
        50%{
            
            transform:translatey(-20px)
        }
    }
}

